@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: nunito;
    src: url("Fonts/nunito/Nunito-Regular.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 0;
  font-family: 'nunito', sans-serif;
  background-color: black;
  color: white;
}

.game{
    position: absolute;
    width: 720px;
    height: 720px;
    background:  url("images/BGoverlay.png");
}

.skyBG{
    width: 720px;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background:  url("images/CloudStrife/BGclouds25.png");
    animation: scroll 10.0s linear infinite;

}

.skyBG2{
    width: 720px;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background:  url("images/clounds.png");
}

.skyBG3{
    width: 720px;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background:  url("images/clounds.png");
}

.skyBG4{
    width: 720px;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background:  url("images/clounds.png");
}

@keyframes scroll{
    0%{background-position: 0px; }
    100%{background-position: 720px;}
}

@keyframes pulse {
   0% { -moz-transform: scaleY(1);
              -o-transform: scaleY(1);
              -webkit-transform: scaleY(1);
              transform: scaleY(1);
        }

    50% { -moz-transform: scale(1.10);
                      -o-transform: scaleY(1.1);
                      -webkit-transform: scaleY(1.1);
                      transform: scaleY(1.1);
     }

      100% { -moz-transform: scaleX(1);
                           -o-transform: scaleY(1);
                           -webkit-transform: scaleY(1);
                           transform: scaleY(1);
          }
}

.weed{
    width: 50px;
    position: absolute;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.lietip {
  background-color: #555;
  color: #fff;
}

.purifiedtip {
  color: black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip{
    position: absolute;
    z-index: 13;
    height: 50px;
    animation: pulse 2.0s steps(10) infinite;
}

.titleScreen{
    position: absolute;
    font-size: 72px;
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
}

.instructions{
    font-size: 22px;
    text-align: center;
    padding: 50px;
    padding-top: 0px;
}

.hp{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 72px;
}

.transcript{
    position: absolute;
    width: 100%;
    height: 100%;
}

#output {
  padding: 20px;
}

.phrase{
    font-size: 24px;
    font-weight: 800;
}

.startbutton{
    border-radius: 8px;
    display: block;
    font-weight: 900;
    font-size: 72px;
    box-shadow: -10px 10px 20px #000000;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(0,0,0,0);
    border: 3px solid white;
}

.transcription{
    font-size: 28px;
    padding: 30px;
}

.logo{
    display: block;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

button{
    border-radius: 8px;
    display: block;
    font-weight: 900;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -10px 10px 20px #000000;
    color: white;
    background: rgba(0,0,0,0);
    border: 3px solid white;
}

button:hover{
    box-shadow: -10px 10px 20px #888888;
}


button:active{
    transform: translateY(5px);
}
