@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: nunito;
    src: url("Fonts/nunito/Nunito-Regular.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: 300px;
  font-family: 'nunito', sans-serif;
  background-color: black;
  color: white;
}

#fakebg{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
      padding: 0;
      padding: 0;
      background: url('images/The_backest_of_backgrounds.png');
      background-size: 300px;
}

.game{
    position: absolute;
    width: 720px;
    height: 720px;
}

.gamebg{
    position: absolute;
    border: 3px solid black;
    width: 720px;
    height: 720px;
    background:  url("images/BGoverlay.png");

}

.gameContainer{
    width: 720px;
    height: 720px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.spookyOverLay{
    background: black;
    opacity: 25%;
    width: 720px;
    height: 720px;
    pointer-events: none;
    position: absolute;
}

.skyBG1{
    width: 720px;
    height: 720px;
    position: absolute;
    opacity: 66%;
    background:  url("images/CloudStrife/BGclouds25.png");
    animation: scroll 45.0s linear 10;
}

.skyBG2{
    width: 720px;
    height: 720px;
    position: absolute;
    opacity: 66%;
    background:  url("images/CloudStrife/BGclouds25.png");
    animation: scroll 60.0s linear 10;
}

.skyBG3{
    width: 720px;
    height: 720px;
    position: absolute;
    opacity: 55%;
    background:  url("images/CloudStrife/BGclouds25.png");
    animation: scroll 75.0s linear 10;
}

.skyBG4{
    width: 720px;
    height: 720px;
    position: absolute;
    opacity: 44%;
    background:  url("images/CloudStrife/BGclouds25.png");
    animation: scroll 100.0s linear 10;
}

@keyframes scroll{
    0%{background-position: 0px; }
    100%{background-position: 720px;}
}

@keyframes pulse {
   0% { -moz-transform: scaleY(1);
              -o-transform: scaleY(1);
              -webkit-transform: scaleY(1);
              transform: scaleY(1);
        }

    50% { -moz-transform: scale(1.10);
                      -o-transform: scaleY(1.1);
                      -webkit-transform: scaleY(1.1);
                      transform: scaleY(1.1);
     }

      100% { -moz-transform: scaleX(1);
                           -o-transform: scaleY(1);
                           -webkit-transform: scaleY(1);
                           transform: scaleY(1);
          }
}

.weed{
    width: 50px;
    position: absolute;
}

.bossWeed{
    position: absolute;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.lietip {
  background-color: #555;
  color: #fff;
}

.purifiedtip {
  color: black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip{
    position: absolute;
    z-index: 13;
    height: 50px;
}

.pulsing{
    animation: pulse 2.0s steps(10) infinite;
}

.titleScreen{
    position: absolute;
    font-size: 72px;
    width: 100%;
    height: 100%;
}

.title{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
   text-align: center;
}

.instructions{
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 50px;
    padding-top: 0px;
}

.hp{
    position: absolute;
    bottom: 10px;
    -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    right: 10px;
    font-size: 48px;
}

.transcript{
    position: absolute;
    width: 100%;
    height: 100%;
}

#output {
  padding: 20px;
}

.phrase{
    font-size: 24px;
    color: black;
    padding: 10px;
    font-weight: 800;
}

.phraseSettings{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.settingsUberInstructions{
    padding: 5px;
    border: 1px solid white;
    margin: 10px;

}

.phraseSettingSection{
    border: 1px solid white;
    margin: 10px;
}

.settingsSectionLabel{
    font-size: 28px;
    text-decoration: underline;
    padding: 5px;
}

.settingsInstruction{
    padding: 5px;
}

.phraseSettings{
    width: 720px;
    padding: 10px;
}

.phraseContainer{
    display: grid;
     grid-template-columns: 20px 1fr;
     grid-template-rows: 30px 30px;
     grid-gap: 10px;
      padding: 10px;
}

.inputContainer{
    display: grid;
     grid-template-columns:  230px 50px 1fr;
     grid-template-rows: 30px;
     grid-gap: 10px;
      padding: 10px;
      margin: 10px;
      border: 1px solid white;
}

.inputContainer input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
    color: deepskyblue;
}

a:visited{
    color: deepskyblue;
}

.creditsHeader{
    width: 720px;
    margin-right:auto;
        margin-left: auto;
    padding: 10px;
     font-size: 28px;
        text-decoration: underline;
}

.credits{
    display: grid;
    width: 720px;
    margin-right:auto;
    margin-left: auto;
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
      padding: 10px;
}

.phraseContainer:nth-child(odd){
    background: grey;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.startbutton{
    border-radius: 8px;
    display: block;
    font-weight: 900;
    font-size: 48px;
    box-shadow: -10px 10px 20px #000000;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(0,0,0,0);
    border: 3px solid white;
}

.phraseCheckbox{
    margin-bottom: 50px;
}



.nameInput{
    margin-bottom: 50px;
}

.transcription{
    font-size: 28px;
    padding: 30px;
    position: absolute;
    bottom: 0px;
    color: #05ffc9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.skipButton{
    margin-top: 20px;
    font-size: 18px;
}

.logo{
    display: block;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

button{
    border-radius: 8px;
    display: block;
    font-weight: 900;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -10px 10px 20px #000000;
    color: white;
    background: rgba(0,0,0,0);
    border: 3px solid white;
}

button:hover{
    box-shadow: -10px 10px 20px #888888;
}


button:active{
    transform: translateY(5px);
}
